In [16]:
# Import necessary libraries
import pandas as pd
import sklearn

In [10]:
# Create the dataframe from the given dataset
dataLocation = "../data/ACME-HappinessSurvey2020.csv"
df = pd.read_csv(dataLocation)

In [15]:
# Get descriptiove statistics of the entire dataset to get the general idea about the data set.
df.describe()

,Y,X1,X2,X3,X4,X5,X6
count,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000
mean,0.547619,4.333333,2.531746,3.309524,3.746032,3.650794,4.253968
std,0.499714,0.800000,1.114892,1.023440,0.875776,1.147641,0.809311
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,4.000000,2.000000,3.000000,3.000000,3.000000,4.000000
50%,1.000000,5.000000,3.000000,3.000000,4.000000,4.000000,4.000000
75%,1.000000,5.000000,3.000000,4.000000,4.000000,4.000000,5.000000
max,1.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [17]:
# This is a classification problem with single dependent variable "Y" and six independent variables

In [25]:
# Divide the data into training data and test data (80:20)
X = df.loc[:, df.columns!='Y']
Y = df['Y']

In [26]:
X
Y

0      0
1      0
2      1
3      0
4      0
      ..
121    1
122    1
123    1
124    0
125    0
Name: Y, Length: 126, dtype: int64